<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Connected Little Boxes</title>
</head>

<body>
    <div class="container mb-4">
        <h1 class="mb-4">Connected Little Boxes</h1>
        <h2 class="mb-2">
            <%= commandGroup.name %>
        </h2>
    </div>
    <div class="container mb-4">
        <p>
            <img src=" <%= commandGroup.pageQRcode %> "></img>
        </p>
        <p>
            <%= commandGroup.description %>
        </p>
        <% commands.forEach(command=> { %>
            <p>
                <a href="/command/performCommand/<%= guid %>/<%= command._id %>"
                    class="btn btn-primary mb-1  btn-block">
                    <%= command.name %>
                </a>
            </p>
            <% }) %>
                <p>
                    <a href="<%= commandGroup.pageURL %>"> <%=commandGroup.pageURL %> 
                    </a>
                </p>
                <p>
                </a>
                <a href="<%= url %>"> Home 
                </p>

    </div>
</body>

</html>