<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Connected Little Boxes</title>
</head>

<body>
    <div class="container mb-4">
        <h1 class="mb-4">Connected Little Boxes</h1>
        <h2 class="mb-2">
            Command Edit
        </h2>
        <p>Name: <%= command.name %>
        </p>
        <p>Description: <%= command.description %>
        </p>
        <a href="/command/commandDetailsEdit/<%= commandGroup_id %>/<%= command._id %>"
            class="btn btn-primary mt-2 mb-4 btn-block">Details edit</a>
    </div>
    <div class="container">
        <h3>
            Messages
        </h3>
            <% messageDescriptions.forEach(message=> { %>
            <p>
                Name: <%= message.name %>
                </p>
                <p>
                Description: <%= message.description %>
                </p>
                    <a href="/command/commandMessageEdit/<%= commandGroup_id %>/<%= command._id %>/<%= message._id %>"
                        class="btn btn-primary mb-4">Edit</a>
                    <a href="/command/commandMessageDeleteConfirm/<%= commandGroup_id %>/<%= command._id %>/<%= message._id %>"
                        class="btn btn-primary mb-4">Delete</a>
            </p>
            <% }) %>
                <a href="/command/commandMessageNew/<%= commandGroup_id %>/<%= command._id %>" class="btn btn-primary mt-2 mb-4 btn-block">New
                    Message</a>
                    <a href="/command/commandGroupEdit/<%= commandGroup_id %>" class="btn btn-primary mt-2 mb-4 btn-block">
                        Done</a>
        </div>

</body>

</html>