<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">`
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Connected Little Boxes</title>
</head>

<body>
    <div class="container mb-4">
        <h1 class="mb-4">Connected Little Boxes</h1>
        <h2 class="mb-2">
            Commmand Group Edit
        </h2>
    </div>
    <div class="container mb-4">
        <p>Name: <%= commandGroup.name %>
        </p>
        <p>Description: <%= commandGroup.description %>
        </p>
        <a href="/command/commandGroupDetailsEdit/<%= commandGroup.guid %>"
            class="btn btn-success mt-2 mb-4 btn-block">Details edit</a>
    </div>
    <div class="container">
        <h3>
            Commands
        </h3>
            <% commands.forEach(command=> { %>
            <p>
                <%= command.name %>
                    <a href="/command/commandEdit/<%= commandGroup.guid %>/<%= command.guid %>"
                        class="btn btn-success mb-4">Edit</a>
                    <a href="/command/commandDeleteConfirm/<%= command.guid %>/<%= commandGroup.guid %>"
                        class="btn btn-success mb-4">Delete</a>
            </p>
            <% }) %>
                <a href="/command/commandNew/<%= commandGroup.guid %>" class="btn btn-success mt-2 mb-4 btn-block">New
                    Command</a>
    </div>
</body>

</html>