<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Connected Little Boxes</title>
</head>

<body>
    <div class="container mb-4">
        <h3 class="mt-2 mb-2">
            <%= username %>
        </h3>
        <h1 class="mb-4">Connected Little Boxes</h1>
        <h2 class="mb-2">Manage Command Groups</h2>
    </div>
    <div class="container mb-4">
        <% commandGroups.forEach(commandGroup=> { %>
            <div class="container mt-4 mb-4">
                <h2>
                <a href="<%= commandGroup.pageURL %>">
                    <%= commandGroup.name %>
                </a>
            </h2>
            <p>
                <%= commandGroup.description %>
            </p>
            <a href="/command/commandGroupDeleteConfirm/<%= commandGroup._id %>" class="btn btn-primary">Delete</a>
                <a href="/command/commandGroupEdit/<%= commandGroup._id %>" class="btn btn-primary">Edit</a>
                <hr />
            </div>
            <% }) %>
    </div>
    <div class="container mb-4">
        <p>A command group holds a number of commands, one of which can be selected by the user when they 
            visit the command group link. A command can send messages to one or more devices.
            You could make a command group to control your lights, with commands to select different
            colours or levels of brightness.
        </p>
        <a href="/command/commandGroupNew" class="btn btn-primary mb-2 btn-block">New Command Group</a>
        <a href="/" class="btn btn-primary mb-4 btn-block">Done</a>

    </div>
    <script>

    </script>
</body>

</html>