<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Connected Little Boxes</title>
</head>

<body>
    <h1 class="mb-4">Connected Little Boxes</h1>
    <h2 class="mb-4">Welcome <%= name %>
    </h2>
    <div class="container">
        <h3 class="mb-4">Devices</h3>
        <% devices.forEach(device=> { %>
            <div class="card mb-4">
                <h4 class="card-title">
                    <% 
                    var name;
                    if (device.friendlyName != "")
                        name = device.friendlyName;
                    else
                        name = device.name;
                    %>
                    <%= name %>
                </h4>
                <div class="card-subtitle text-muted mb-2">
                    Name: <%= device.name %> Registered: <%= device.regDate.toLocaleDateString() %> 
                    <%= device.regDate.toLocaleTimeString() %>
                </div>
                <a href="devices/<%= device.name %>" class="btn btn-primary">Manage Device</a>
            </div>
            <% }) %>
    </div>
    <div class="container mb-4">
        <%
        var registerButton="";
        if(role=="admin")
            registerButton=`<a href="/register" class="btn btn-success mb-4">Register</a>`
        %>
        <%- registerButton %>
        <a href="/" class="btn btn-success mb-4">Done</a>
    </div>
</body>

</html>