<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Connected Little Boxes</title>
</head>

<body>
    <div class="container mb-4">
        <h1 class="mb-4">
            <%= device.friendlyName %>
        </h1>
        <h2 class="mb-4">
            <%= device.name %>
        </h2>
        <% if(owner){ %>
            <h2 class="mb-2">
                Owner: <%= owner %>
            </h2>
            <% } %>
                <img src=" <%= qrCode %> "></img>
                <div class="card-subtitle text-muted mb-2">
                    <p>
                        Version: <%= device.version %>
                            Registered: <%= device.regDate.toLocaleDateString() %>
                                <%= device.regDate.toLocaleTimeString() %>
                                    Last connected: <%= device.lastConnectedDate.toLocaleDateString() %>
                                        <%= device.lastConnectedDate.toLocaleTimeString() %>
                                            <br>
                                            Last command:<%= device.lastCommand %>
                                                <br>
                                                MAC address: <%= device.macAddress %>
                                                    <br>
                                                    Open URL: <%= openUrl %>
                                                        <br>
                                                        Device URL: <%= deviceUrl %>
                    </p>
                </div>
                <div class="container">

                </div>

                <form action="/devices/updateDetails/<%= device.name %>/<%= device.friendlyName %>" method="POST">

                    <div class="form-group">
                        <label for="friendlyName">Friendly Name</label>
                        <input required type="text" name="friendlyName" id="friendlyName" class="form-control"
                            value="<%= device.friendlyName %>">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" name="description" id="description"
                            class="form-control"><%=device.description%> </textarea>
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <input type="text" name="tags" id="tags" class="form-control" value="<%= device.tags %>">
                    </div>


                    <div class="form-group">
                        <label for="bootCommands">Boot Commands</label>
                        <textarea rows=5 type="text" name="bootCommands" id="bootCommands"
                            class="form-control"><%= device.bootCommands %></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary mt-4">Update Details</button>
                </form>

                <h2>Features</h2>

                <% managers.forEach(manager=>{ %>

                    <% if(manager.active){ %>

                        <a href="/processManager/manage/<%=manager._id%>/<%=device._id%>"
                            class="btn btn-success mt-1 mb-1">
                            Manage <%=manager.name%></a>
                        <% } else { %>
                            <a href="/processManager/activate/<%=manager._id%>/<%=device._id%>"
                                class="btn btn-primary mt-1 mb-1"> Configure <%=manager.name%> hardware</a>
                            <% } %>

                                <% }); %>

                                    <form action="/devices/sendconsolecommand/<%= device.name %>" method="POST">
                                        <div class="form-group mt-4">
                                            <label for="consoleCommand">Console Command</label>
                                            <input required type="text" name="consoleCommand" id="consoleCommand"
                                                class="form-control">
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-4">Send Console Command</button>
                                    </form>
                                    <form action="/devices/sendjsoncommand/<%= device.name %>" method="POST">
                                        <div class="form-group mt-4">
                                            <label for="jsonCommand">Command</label>
                                            <input required type="text" name="jsonCommand" id="jsonCommand"
                                                class="form-control">
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-4">Send JSON Command</button>
                                    </form>
    </div>

    <div class="container mb-4">
        <a href="/deviceSelect" class="btn btn-success mb-4">Done</a>
        <a href="/devices/restart/<%= device.name %>"" class=" btn btn-success mb-4">Restart</a>
        <a href="/devices/otaUpdate/<%= device.name %>"" class=" btn btn-success mb-4">OTA Update</a>
    </div>
</body>

</html>