<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Clever Little Boxes</title>
</head>

<body>
    <div class="container mb-4">
        <h1 class="mb-4">
            <%= manager.name %>
        </h1>
        <% if(messages.length != 0) { %>

        <h2>
            Messages
        </h2>
            <% messages.forEach(message=> { %>
            <p>
                <h3><%= message.name %></h3>
                <p><%= message.description %></p>
                    <a href="/processManager/messsageEdit/<%= manager.name %>/<%= message.name %>"
                        class="btn btn-primary mb-2">Edit</a>
                    <a href="/processManager/messageDeleteConfirm/<%= manager.name %>/<%= message.name %>"
                        class="btn btn-primary mb-2">Delete</a>
                        <hr />
            </p>
            <% }); } %>
            <a href="/processManager/messageNew/<%= manager.name %>" class="btn btn-primary mt-6 mb-1 btn-block">
                New Message</a>
            </body>

</html>